.slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
}
.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  list-style: none;
}
img {
  width: 100%;
}
.slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  display: block;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
